<br><br>
<div class="col-lg-9 col-md-10 col-sm-11 col-xs-12 m-auto">
  <div class="card rounded-5">

    <div class="card-header">
      <h4 class="mb-0 text-center"><i class="fas fa-mail-bulk"></i>Anzeige Details:</h4>
    </div>

    <div class="card-body bg-light" *ngIf="anzeigeDetails">
      <div>
        <label for="firma">Firmen Name:</label>
        <p> <strong> {{ anzeigeDetails['firma'] }} </strong></p>
      </div>

      <div>
        <label for="address">Adresse:</label>
        <p> <strong> {{ anzeigeDetails['address'] }} </strong></p>
      </div>

      <div>
        <label for="bundesland">Bundesland:</label>
        <p> <strong> {{ anzeigeDetails['bundesland'] }} </strong></p>
      </div>

      <div>
        <label for="services">Firmen Services:</label>
        <p> <strong> {{ anzeigeDetails['services'] }} </strong></p>
      </div>

      <div>
        <label for="email">E-mail:</label>
        <p> <strong> {{ anzeigeDetails['email'] }} </strong></p>
      </div>

      <div>
        <label for="website">Webseite:</label>
        <p> <strong> {{ anzeigeDetails['website'] }} </strong></p>
      </div>

      <div>
        <label for="phone">Telefonnummer:</label>
        <p> <strong> {{ anzeigeDetails['phone'] }} </strong></p>
      </div>

      <div>
        <label for="photoUrl">Firmenlogo:</label>
        <img src="{{anzeigeDetails['photoUrl']}}" alt="Logo" width="100px" height="auto">
      </div>

      <div>
        <label for="startDate">Startdatum der Anzeige:</label>
        <p> <strong> {{ anzeigeDetails['startDate'] }} </strong></p>
      </div>

      <div>
        <label for="endDate">Enddatum der Anzeige:</label>
        <p> <strong> {{ anzeigeDetails['endDate'] }} </strong></p>
      </div>
      <br>
    </div>

  </div>
</div>

<br>
