<nav class="navbar navbar-expand-xl navbar-light bg-light">

  <button class="navbar-toggler nav-fill w-100" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span>&nbsp; Bundesland auswählen</span>
  </button>


  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav nav-fill w-100" data-toggle="collapse" data-target=".navbar-collapse.show">
      <li class="nav-item" *ngFor="let land of bundesland">
        <a routerLink="" class="nav-link" (click)="setBundesland(land)"> {{ land }} </a>
      </li>
    </ul>
  </div>

</nav>
