.navbar {
  position: sticky;
  height: inherit;
  top: 0;
  z-index: 50;
  border-bottom: 2px solid rgb(126, 126, 126);
}

a {
  outline: none;
}

a:active,
a:focus {
  text-decoration: underline;
  color: rgb(10, 10, 10);
}
