<div class="row">

  <!-- levi deo ekrana -->
  <div class="col-md-5 col-sm-12">
    <div class="card rounded-5">

      <div class="card-header">
        <h4 class="mb-0 text-center"><i class="fas fa-user-plus"></i> Neuen Benutzer hinzufügen:</h4>
      </div>

      <div class="card-body">
        <form class="form" #registerForm="ngForm">

          <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="registerUserData['email']" name="email" #email="ngModel" type="email"
              pattern="^[\w.-]{2,}@\w{2,}\..{2,3}(.{2,3})?$" class="form-control rounded-5"
              [class.is-invalid]="email.invalid && email.touched" placeholder="example@abc.com" required>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors.required">Email field is required</small>
              <small class="text-danger" *ngIf="email.errors.pattern">Please fill in a valid email address</small>
            </div>
          </div>

          <div class="form-group">
            <label for="">Passwort</label>
            <input [(ngModel)]="registerUserData['password']" name="password" #pass="ngModel" type="password"
              pattern="^\w{5,}$" class="form-control rounded-5" [class.is-invalid]="pass.invalid && pass.touched"
              required>
            <div *ngIf="pass.errors && (pass.invalid && pass.touched)">
              <small class="text-danger" *ngIf="pass.errors.required">Password is required</small>
              <small class="text-danger" *ngIf="pass.errors.pattern">Password must be at least 5 characters
                long</small>
            </div>
          </div>

          <button [disabled]="registerForm.form.invalid" (click)="registerUser()"
            class="btn btn-outline-info float-right" type="submit">Hinzufügen</button>
          <small *ngIf="userExists" class="text-danger">This user already exists</small>
          <small *ngIf="registeredSuccessfully" class="text-success">Benutzer erfolgreich registriert</small>

        </form>
      </div>

    </div>
  </div>
  <!-- kraj levog dela -->


  <!-- desni deo ekrana -->
  <div class="col-md-7 col-sm-12">
    <div class="card rounded-5">

      <div class="card-header">
        <h4 class="mb-0 text-center"><i class="fas fa-users"></i> Alle Benutzer:</h4>
      </div>

      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <tr class="row" *ngFor="let user of listOfUsers">
              <td class="col-sm-9"> {{ user.email }} </td>
              <td class="col-sm-3 text-center">
                <button class="btn btn-danger" (click)="checkDelete()"><i class="fas fa-trash-alt"></i> Löschen</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <!-- kraj desnog dela -->

</div>
