<br><br>
<h2 class="text-center"> <strong>Benutzer verwalten</strong> </h2>
<br>


<div class="row">

  <!-- levi deo ekrana -->
  <div class="col-md-5 col-sm-12">
    <div class="card rounded-5">

      <div class="card-header">
        <h4 class="mb-0 text-center"><i class="fas fa-user-plus"></i> Neuen Benutzer hinzufügen:</h4>
      </div>

      <div class="card-body">
        <form class="form" #loginForm="ngForm">

          <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="loginUserData.email" name="email" #email="ngModel" type="email"
              pattern="^[\w.-]{2,}@\w{2,}\..{2,3}(.{2,3})?$" class="form-control rounded-5"
              [class.is-invalid]="email.invalid && email.touched" placeholder="example@abc.com" required>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors.required">Email field is required</small>
              <small class="text-danger" *ngIf="email.errors.pattern">Please fill in a valid email address</small>
            </div>
          </div>

          <div class="form-group">
            <label for="">Passwort</label>
            <input [(ngModel)]="loginUserData.password" name="password" #pass="ngModel" type="password"
              pattern="^\w{5,}$" class="form-control rounded-5" [class.is-invalid]="pass.invalid && pass.touched"
              required>
            <div *ngIf="pass.errors && (pass.invalid && pass.touched)">
              <small class="text-danger" *ngIf="pass.errors.required">Password is required</small>
              <small class="text-danger" *ngIf="pass.errors.pattern">Password must be at least 5 characters
                long</small>
            </div>
          </div>

          <button [disabled]="loginForm.form.invalid" (click)="loginUser()" class="btn btn-outline-info float-right"
            type="submit">Hinzufügen</button>
          <small *ngIf="wrongEmail" class="text-danger">Email not found</small>
          <small *ngIf="!wrongEmail && wrongPass" class="text-danger">Wrong password</small>

        </form>
      </div>

    </div>
  </div>
  <!-- kraj levog dela -->


  <!-- desni deo ekrana -->
  <div class="col-md-7 col-sm-12">
    <div class="card rounded-5">

      <div class="card-header">
        <h4 class="mb-0 text-center"><i class="fas fa-users"></i> Alle Benutzer:</h4>
      </div>

      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <tr class="row">
              <td class="col-sm-10"> email of the user </td>
              <td class="col-sm-2"><input type="submit" class="btn btn-danger" value="Löschen"></td>
            </tr>
            <tr class="row">
              <td class="col-sm-10"> email of the user </td>
              <td class="col-sm-2"><input type="submit" class="btn btn-danger" value="Löschen"></td>
            </tr>
            <tr class="row">
              <td class="col-sm-10"> email of the user </td>
              <td class="col-sm-2"><input type="submit" class="btn btn-danger" value="Löschen"></td>
            </tr>
            <tr class="row">
              <td class="col-sm-10"> email of the user </td>
              <td class="col-sm-2"><input type="submit" class="btn btn-danger" value="Löschen"></td>
            </tr>
            <tr class="row">
              <td class="col-sm-10"> email of the user </td>
              <td class="col-sm-2"><input type="submit" class="btn btn-danger" value="Löschen"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <!-- kraj desnog dela -->

</div>
