.navbar {
  height: 8vh;
  opacity: 0.94;
}

img {
  transform: scale(1);
  transition-duration: 0.33s;
}

img:hover {
  transform: scale(1.03);
  transition-duration: 0.33s;
}

a {
  outline: none;
}

a:active,
a:focus {
  text-decoration: underline;
}

.alignInputGroup {
  height: 2%;
  width: 292px;
}

.logo-1 {
  width: 300px;
}

.logo-2 {
  width: 10vw;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .alignInputGroup {
    width: 75vw;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .logo-1 {
    width: 185px;
  }
  .alignInputGroup {
    width: 50vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo-1 {
    width: 220px;
  }
  .alignInputGroup {
    width: 28vw;
  }
}
