<nav class="navbar navbar-expand-md navbar-light bg-light">

  <a [routerLink]="" class="navbar-brand" (click)="setBundesland('all')">Alle Bundesländer</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent" *ngFor="let land of bundesland">
        <a routerLink="" routerLinkActive="active" class="nav-link" (click)="setBundesland(land)"> {{ land }} </a>
      </li>


      <!-- temporary button for easy acces -->
      <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent" class="ml-5">
        <a routerLink="admin" class="nav-link text-warning"> admin </a></li>
      <!-- delete when finished developing the app -->

      <div class="nav-item text-right" data-toggle="collapse" data-target="#navbarSupportedContent">
        <input type="text" placeholder="Suche nach Firmennamen" [(ngModel)]="searchTerm"
          (ngModelChange)="searchByName($event)">
      </div>


    </ul>
  </div>

</nav>
