<div class="col-lg-9 col-md-10 col-sm-11 col-xs-12 m-auto table-hover">
  <div class="card rounded-5">

    <div class="card-header">
      <h4 class="mb-0 text-center"><i class="fas fa-book-dead"></i> Inaktive Anzeigen:</h4>
    </div>

    <div class="card-body">
      <table class="table table-striped cursor-pointer m-auto">
        <tbody>


          <tr class="row">
            <td class="col-2 text-center">
              <img class="img"
                src="https://images-na.ssl-images-amazon.com/images/I/41GGu9tJdUL._SX331_BO1,204,203,200_.jpg"
                alt="anzeige-foto">
            </td>
            <td class="col-md-8 col-sm-10">
              <h5> <strong>NEUHOLD Dach GmbH</strong> </h5>
              <h6> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
              <h6> <i class="fas fa-map-marker-alt"></i> Tirol</h6>
            </td>
            <td class="col-md-2 col-sm-12 text-center text-danger">
              <p><u>Inaktiv seit:</u></p>
              <p> 21.01.2020.</p>
            </td>
          </tr>


          <tr class="row">
            <td class="col-2 text-center">
              <img class="img"
                src="https://images-na.ssl-images-amazon.com/images/I/41GGu9tJdUL._SX331_BO1,204,203,200_.jpg"
                alt="anzeige-foto">
            </td>
            <td class="col-md-8 col-sm-10">
              <h5> <strong>NEUHOLD Dach GmbH</strong> </h5>
              <h6> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
              <h6> <i class="fas fa-map-marker-alt"></i> Tirol</h6>
            </td>
            <td class="col-md-2 col-sm-12 text-center text-danger">
              <p><u>Inaktiv seit:</u></p>
              <p> 21.01.2020.</p>
            </td>
          </tr>


          <tr class="row">
            <td class="col-2 text-center">
              <img class="img"
                src="https://images-na.ssl-images-amazon.com/images/I/41GGu9tJdUL._SX331_BO1,204,203,200_.jpg"
                alt="anzeige-foto">
            </td>
            <td class="col-md-8 col-sm-10">
              <h5> <strong>NEUHOLD Dach GmbH</strong> </h5>
              <h6> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
              <h6> <i class="fas fa-map-marker-alt"></i> Tirol</h6>
            </td>
            <td class="col-md-2 col-sm-12 text-center text-danger">
              <p><u>Inaktiv seit:</u></p>
              <p> 21.01.2020.</p>
            </td>
          </tr>


          <tr class="row">
            <td class="col-2 text-center">
              <img class="img"
                src="https://images-na.ssl-images-amazon.com/images/I/41GGu9tJdUL._SX331_BO1,204,203,200_.jpg"
                alt="anzeige-foto">
            </td>
            <td class="col-md-8 col-sm-10">
              <h5> <strong>NEUHOLD Dach GmbH</strong> </h5>
              <h6> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
              <h6> <i class="fas fa-map-marker-alt"></i> Tirol</h6>
            </td>
            <td class="col-md-2 col-sm-12 text-center text-danger">
              <p><u>Inaktiv seit:</u></p>
              <p> 21.01.2020.</p>
            </td>
          </tr>




        </tbody>
      </table>
    </div>

  </div>
</div>
