<div class="header">
  <h1 class="text-center">Welcome !</h1>
  <button block="true" class=" btn btn-secondary logoutButton fl2" (click)="logout()">
    Log Out <i class="fas fa-sign-out-alt"></i>
  </button>
</div>

<button block="true" class=" btn btn-warning" [routerLink]="['']" routerLinkActive="router-link-active">home </button>

<div class="row">

  <div class="col-md-2 text-center">
    <a routerLink='benutzer' routerLinkActive="active"><i class="fas fa-user"></i></a>
    <h4>Benutzer</h4>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="anzeigen" routerLinkActive="active"><i class="fas fa-envelope-open-text"></i></a>
    <h4>Alle Anzeigen</h4>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="createDomen" routerLinkActive="active"><i class="fas fa-file-signature"></i></a>
    <h4>Firma Beschreibung</h4>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="approveComments" routerLinkActive="active"><i class="fas fa-comment-dots"></i></a>
    <h4>Pending comments</h4>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="menageKeywordsAndTags" routerLinkActive="active"><i class="fas fa-tags"></i></a>
    <h4>Schlüsselwörter verwalten</h4>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="adminLogCounter" routerLinkActive="active"><i class="far fa-clipboard"></i></a>
    <h4>Protokollzähler</h4>
  </div>

</div>


<router-outlet></router-outlet>
