<div class="header">
  <h4 class="text-center mt-3">Eingelogged als: <strong> {{ userThatLoggedIn }} </strong></h4>
  <button block="true" class=" btn btn-secondary logoutButton fl2" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i> Ausloggen
  </button>
</div>

<button block="true" class=" btn btn-warning" [routerLink]="['']" routerLinkActive="router-link-active">home </button>

<div class="row">

  <div class="col-md-2 text-center">
    <a routerLink='benutzer' routerLinkActive="active"><i class="fas fa-user"></i></a>
    <h5>Benutzer</h5>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="anzeigen" routerLinkActive="active"><i class="fas fa-envelope-open-text"></i></a>
    <h5>Alle Anzeigen</h5>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="anzeigen" routerLinkActive="active"><i class="fas fa-file-signature"></i></a>
    <h5>Firma Beschreibung</h5>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="anzeigen" routerLinkActive="active"><i class="fas fa-comment-dots"></i></a>
    <h5>Pending comments</h5>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="anzeigen" routerLinkActive="active"><i class="fas fa-tags"></i></a>
    <h5>Schlüsselwörter verwalten</h5>
  </div>

  <div class="col-md-2 text-center">
    <a routerLink="anzeigen" routerLinkActive="active"><i class="far fa-clipboard"></i></a>
    <h5>Protokollzähler</h5>
  </div>

</div>


<router-outlet></router-outlet>
