/* You can add global styles to this file, and also import other style files */
html body {
  font-family: "Sen", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.i-color {
  color: rgba(1, 161, 161, 0.7);
}
