<!-- desni deo ekrana -->
<div class="card rounded-5">


  <div class="card-header">
    <div class="row">

      <div class="col text-left">
        <a routerLink=".." class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i> Zurück</a>
      </div>

      <h3 class="col mb-0 text-center"> <i class="fas fa-skull-crossbones"></i>&nbsp; Inaktive Banner: </h3>

      <div class="col text-right">
        <input type="text" placeholder="Suche nach Firmennamen" [(ngModel)]="searchBannerName"
          (ngModelChange)="searchByName()">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">

      <div class="borders col-md-4 col-xs-3 mb-2" *ngFor="let bnr of inactiveBanners">
        <div class="row">
          <div class="col-2 m-auto">
            <img src="{{ bnr.bannerLeft }}" alt="banner-logo" width="100%">
          </div>
          <div class="col-10 text-center m-auto">
            <p>Bundesland: <strong>{{ bnr.bundesland }}</strong></p>
            <p>Name: {{ bnr.name }} </p>
            <p>Startdatum: {{ bnr.startDate | date }} </p>
            <p [class.text-danger]="!bnr.bannerHorizontal">Enddatum: <strong> {{ bnr.endDate | date }}</strong> </p>
          </div>
        </div>
      </div>

    </div>
  </div>



</div>
<br>
