h1 {
  margin: 15px;
}

.table td {
  border: none;
}

.anzeige-block {
  height: 160px;
  margin: 10px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 130px;
  margin: 1px;
}

img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}

a {
  color: rgb(56, 56, 56);
}

.truncate {
  display: inline-block;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.align-top {
  margin-top: 5px;
}

.cursor-pointer {
  cursor: pointer;
}
