<h1><i class="fas fa-map-marked-alt"></i> Installateure in ihrer nahe</h1>


<!-- the main table with the list of all anzeigen -->
<div>

  <table class="table table-hover">
    <tbody>
      <tr class="row anzeige-block text-left">

        <td class="col-md-2 col-sm-1">
          <img class="img" src="https://image.gutgemacht.at/300x300/1/4493" alt="anzeige-foto">
        </td>

        <td class="col-md-7 col-sm-8">
          <h3 class="truncate cursor-pointer">
            <a href="#" title="Mehr anzeigen"><strong>NEUHOLD Dach GmbH</strong></a>
          </h3>
          <h6 class="truncate"> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
          <h6> <i class="fas fa-map-marker-alt"></i> <strong> Tirol</strong> </h6>
          <p>
            <span class="truncate"> <u>Wir bieten:</u>
              Dachdecker, Spenglerei, Flachdach, Leichtdacher, Dachsanierung, Fassadenverkleidungen
            </span>
          </p>
        </td>

        <td class="col-md-3 col-sm-3 text-right">
          <span><i class="fas fa-envelope"></i> office@neuhold-dach.at </span>
          <hr>
          <a href="www.neuhold-dach.at" title="Webseite besuchen">
            <i class="fas fa-globe"></i> www.neuhold-dach.at
          </a>
          <hr>
          <span><i class="fas fa-phone"></i> +43 3844 8353 </span>
        </td>

      </tr>
    </tbody>
  </table>

  <hr>
</div>
<!-- end of the anzeige -->


<!-- the main table with the list of all anzeigen -->
<div>

  <table class="table table-hover">
    <tbody>
      <tr class="row anzeige-block text-left">

        <td class="col-md-2 col-sm-1">
          <img class="img" src="https://image.gutgemacht.at/300x300/1/4493" alt="anzeige-foto">
        </td>

        <td class="col-md-7 col-sm-8">
          <h3 class="truncate cursor-pointer">
            <a href="#" title="Mehr anzeigen"><strong>NEUHOLD Dach GmbH</strong></a>
          </h3>
          <h6 class="truncate"> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
          <h6> <i class="fas fa-map-marker-alt"></i> <strong> Tirol</strong> </h6>
          <p>
            <span class="truncate"> <u>Wir bieten:</u>
              Dachdecker, Spenglerei, Flachdach, Leichtdacher, Dachsanierung, Fassadenverkleidungen
            </span>
          </p>
        </td>

        <td class="col-md-3 col-sm-3 text-right">
          <span><i class="fas fa-envelope"></i> office@neuhold-dach.at </span>
          <hr>
          <a href="www.neuhold-dach.at" title="Webseite besuchen">
            <i class="fas fa-globe"></i> www.neuhold-dach.at
          </a>
          <hr>
          <span><i class="fas fa-phone"></i> +43 3844 8353 </span>
        </td>

      </tr>
    </tbody>
  </table>

  <hr>
</div>
<!-- end of the anzeige -->



<!-- the main table with the list of all anzeigen -->
<div>

  <table class="table table-hover">
    <tbody>
      <tr class="row anzeige-block text-left">

        <td class="col-md-2 col-sm-1">
          <img class="img" src="https://image.gutgemacht.at/300x300/1/4493" alt="anzeige-foto">
        </td>

        <td class="col-md-7 col-sm-8">
          <h3 class="truncate cursor-pointer">
            <a href="#" title="Mehr anzeigen"><strong>NEUHOLD Dach GmbH</strong></a>
          </h3>
          <h6 class="truncate"> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
          <h6> <i class="fas fa-map-marker-alt"></i> <strong> Tirol</strong> </h6>
          <p>
            <span class="truncate"> <u>Wir bieten:</u>
              Dachdecker, Spenglerei, Flachdach, Leichtdacher, Dachsanierung, Fassadenverkleidungen
            </span>
          </p>
        </td>

        <td class="col-md-3 col-sm-3 text-right">
          <span><i class="fas fa-envelope"></i> office@neuhold-dach.at </span>
          <hr>
          <a href="www.neuhold-dach.at" title="Webseite besuchen">
            <i class="fas fa-globe"></i> www.neuhold-dach.at
          </a>
          <hr>
          <span><i class="fas fa-phone"></i> +43 3844 8353 </span>
        </td>

      </tr>
    </tbody>
  </table>

  <hr>
</div>
<!-- end of the anzeige -->



<!-- the main table with the list of all anzeigen -->
<div>

  <table class="table table-hover">
    <tbody>
      <tr class="row anzeige-block text-left">

        <td class="col-md-2 col-sm-1">
          <img class="img" src="https://image.gutgemacht.at/300x300/1/4493" alt="anzeige-foto">
        </td>

        <td class="col-md-7 col-sm-8">
          <h3 class="truncate cursor-pointer">
            <a href="#" title="Mehr anzeigen"><strong>NEUHOLD Dach GmbH</strong></a>
          </h3>
          <h6 class="truncate"> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
          <h6> <i class="fas fa-map-marker-alt"></i> <strong> Tirol</strong> </h6>
          <p>
            <span class="truncate"> <u>Wir bieten:</u>
              Dachdecker, Spenglerei, Flachdach, Leichtdacher, Dachsanierung, Fassadenverkleidungen
            </span>
          </p>
        </td>

        <td class="col-md-3 col-sm-3 text-right">
          <span><i class="fas fa-envelope"></i> office@neuhold-dach.at </span>
          <hr>
          <a href="www.neuhold-dach.at" title="Webseite besuchen">
            <i class="fas fa-globe"></i> www.neuhold-dach.at
          </a>
          <hr>
          <span><i class="fas fa-phone"></i> +43 3844 8353 </span>
        </td>

      </tr>
    </tbody>
  </table>

  <hr>
</div>
<!-- end of the anzeige -->



<!-- the main table with the list of all anzeigen -->
<div>

  <table class="table table-hover">
    <tbody>
      <tr class="row anzeige-block text-left">

        <td class="col-md-2 col-sm-1">
          <img class="img" src="https://image.gutgemacht.at/300x300/1/4493" alt="anzeige-foto">
        </td>

        <td class="col-md-7 col-sm-8">
          <h3 class="truncate cursor-pointer">
            <a href="#" title="Mehr anzeigen"><strong>NEUHOLD Dach GmbH</strong></a>
          </h3>
          <h6 class="truncate"> Schwarzenbachweg 3, 8773 Kammern im Liesingtal </h6>
          <h6> <i class="fas fa-map-marker-alt"></i> <strong> Tirol</strong> </h6>
          <p>
            <span class="truncate"> <u>Wir bieten:</u>
              Dachdecker, Spenglerei, Flachdach, Leichtdacher, Dachsanierung, Fassadenverkleidungen
            </span>
          </p>
        </td>

        <td class="col-md-3 col-sm-3 text-right">
          <span><i class="fas fa-envelope"></i> office@neuhold-dach.at </span>
          <hr>
          <a href="www.neuhold-dach.at" title="Webseite besuchen">
            <i class="fas fa-globe"></i> www.neuhold-dach.at
          </a>
          <hr>
          <span><i class="fas fa-phone"></i> +43 3844 8353 </span>
        </td>

      </tr>
    </tbody>
  </table>

  <hr>
</div>
<!-- end of the anzeige -->
