.table td {
  border: none;
}

.anzeige-block {
  height: inherit;
  margin: 10px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin: 1px;
  transform: scale(1);
  transition-duration: 0.33s;
}

.img:hover {
  transform: scale(1.03);
  transition-duration: 0.33s;
  cursor: pointer;
}

a {
  color: rgb(56, 56, 56);
}

#Testimonial {
  width: 100%;
  display: table;
  background: url("https://www.malcolmplumbingandmech.com/wp-content/uploads/2018/11/bathroom-plumbing.jpg")
    no-repeat 0 / cover;
  background-attachment: fixed;
}

#Testimonial .testimonial-wrap {
  display: table-cell;
  background-color: rgba(36, 36, 36, 0.6);
  color: #fff;
  padding: 8vh 0;
}

#Testimonial .testimonial-slider {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/******************************** RESPONSIVE DESIGN STYLES *********************************/

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .table tr {
    background-color: rgba(233, 233, 233, 0.7);
  }
  .testimonial-text {
    font-size: 5vw;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial-text {
    font-size: 4vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-text {
    font-size: 2.6vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-text {
    font-size: 2.2vw;
  }
  #Testimonial .testimonial-slider {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .testimonial-text {
    font-size: 1.8vw;
  }
  #Testimonial .testimonial-slider {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
